
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    
    ul{
        display: block;
        margin: 3px;
        padding: 0;
    }

    li{
        display: inline-block;
        padding: 15px;
        cursor: pointer;
    }
}

section{
    width: 100%;
    height: 100%;
}