@function em($em) {
  @return ($em/$base)+px;
}

@mixin transition($prop) {
  transition: $prop;
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -o-transition: $prop;
}

@mixin transform($prop) {
  transform: $prop;
  -webkit-transform: $prop;
  -moz-transform: $prop;
  -o-transform: $prop;
}

@mixin background-size($size) {
  background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  -webkit-background-size: $size;
}

@mixin background-image($url){
  background-image: $url;
  -moz-background-image: $url;
  -webkit-background-image: $url;
  -o-background-image: $url;
}

