
.text-center{
	text-align: center;
}

.absolute{
	position: absolute !important;
}

.relative{
	position: relative !important;
}

.clearfix{
	clear: both;
}

@for $i from 0 through 12 {
	$n : $i * 5;
	.pt-#{$n} {
		padding-top: #{$n}px;
	}

	.pb-#{$n} {
		padding-bottom: #{$n}px;
	}

	.mt-#{$n} {
		margin-top: #{$n}px;
	}

	.mb-#{$n} {
		margin-bottom: #{$n}px;
	}
}
	